[Desktop Entry]
Type=Application
Exec=xkbcomp /home/andrei/dotfiles/config/linux/xkbmap-arrows-dell ":0"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xkbcomp
Name=xkbcomp
Comment[en_US]=load custom keyboard config
Comment=load custom keyboard config
